# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\TW\Lab 11 Scala Akka Actors\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
